Source: evdi
Section: kernel
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.8

Package: evdi
Architecture: linux-amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 evdi-dkms,
 linux-headers-amd64 | linux-headers-generic
Description: DKMS module for DisplayLink's Extensible Virtual Display Interface (evdi) - metapackage
 .

Package: evdi-dkms
Architecture: linux-amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 dkms
Description: DKMS module for DisplayLink's Extensible Virtual Display Interface (evdi)
 .


